<% if !user_signed_in? %>
  <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner-toilet1.jpg' %>);">
    <div class="container">
      <h1>Book a Toilet <strong>anywhere</strong> and <strong>anytime</strong>!</h1>
      <p>When you need to go you need to GO!</p>
      <a class="btn btn-primary" href="<%= new_user_registration_path %>">Signup Now</a>
    </div>
  </div>
  <div class="banner-home-height">
  </div>
<% end %>
<% if user_signed_in? %>
  <div class="banner-filter-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'banner-filter1.jpg' %>)">
    All Available Toilets
  </div>
<% end %>
<div class="list-toilets">
  <% @toilets.each do |toilet| %>
    <%= render 'shared/toilet-card', toilet: toilet%>
  <% end %>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

