<h1><%= @toilet.name %></h1>

<h3>description: <%= @toilet.description %></h3>

<p> address: <%= @toilet.address %></p>

<p> Owner first Name: <%= @toilet.user.first_name %></p>

<p> Owner last Name:<%= @toilet.user.last_name %></p>

<%= cl_image_tag @toilet.photo, height: 300, width: 400, crop: :fill %>


