<div class="card-user">
  <img src='<%= cl_image_path @user.photo %>' class="avatar-large"/>
  <div class="card-user-content">
    <h2><%= @user.first_name + " " + @user.last_name %></h2>
  </div>
  <div class="card-user-actions">
    <a href="<%= edit_user_registration_path %>"><i class="fas fa-pencil-alt"></i></a>
  </div>
</div>

<div class="card-white">
    <h4 class="card-white-content">Your Toilets </h4>
  <h4 calss="card-white-content">
    <%= link_to new_toilet_path do  %>
      <i class="fas fa-plus"></i>
    <%end %>
  </h4>
</div>
<div class="list-toilets-profile">
  <% if @my_toilets.empty? %>
    <h4>You don't have any toilets for rent. Feel free to add one <a href="<%= new_toilet_path %>">here</a></h4>
  <% else %>
    <% @my_toilets[0..3].each do |toilet| %>
      <div class="card-toilet-container col-xs-6 col-sm-4 col-md-3">
        <% link = false %>
        <% unless toilet.bookings.empty? %>
          <% toilet.bookings.each do |booking| %>
            <% if @reviews.where(booking_id: booking, user_id: @user).empty? && !link %>
              <div class="link-to-review">
                <%= link_to "Missing Review", new_toilet_booking_review_path(toilet, booking), class: "btn btn-warning" %>
              </div>
              <% link = true %>
            <% end %>
          <% end %>
        <% end %>
        <div class="card-toilet">
          <a class="card-toilet-link" href="<%= toilet_path(toilet) %>"></a>
          <%= cl_image_tag toilet.photo %>
          <div class="card-toilet-infos">
            <div>
              <h2><%= toilet.name %></h2>
              <p><%= toilet.user.first_name %></p>
            </div>
            <h2 class="card-toilet-pricing"><%= toilet.price %>€</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @my_toilets.count > 4 %>
  <div class="more-toilets">
    <a class="btn btn-primary" href="profile/my_toilets">See all my toilets</a>
  </div>
<%end %>

<div class="card-white">
  <h4 class="card-white-content">Your Last Bookings </h4>
</div>
<div class="list-toilets-profile">
  <% if @used_toilets.empty? %>
    <h4>You never book a toilet. Feel free to book one <a href="<%= root_path %>">here</a></h4>
  <% else %>
    <% @used_toilets.last(4).each do |toilet| %>
      <div class="card-toilet-container col-xs-6 col-sm-4 col-md-3">
        <% link = false %>
        <% unless toilet.bookings.empty? %>
          <% toilet.bookings.each do |booking| %>
            <% if @reviews.where(booking_id: booking, user_id: @user).empty? && !link %>
              <div class="link-to-review">
                <%= link_to "Missing Review", new_toilet_booking_review_path(toilet, booking), class: "btn btn-warning" %>
              </div>
              <% link = true %>
            <% end %>
          <% end %>
        <% end %>
        <div class="card-toilet">
          <a class="card-toilet-link" href="<%= toilet_path(toilet) %>"></a>
          <%= cl_image_tag toilet.photo %>
          <div class="card-toilet-infos">
            <div>
              <h2><%= toilet.name %></h2>
              <p><%= toilet.user.first_name %></p>
            </div>
            <h2 class="card-toilet-pricing"><%= toilet.price %>€</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @used_toilets.count > 4 %>
  <div class="more-toilets">
    <a class="btn btn-primary" href="profile/used_toilets">See all my used toilets</a>
  </div>
<%end %>

